@model IEnumerable<Funcionarios.Models.Funcionario>

@{
    ViewData["Title"] = "Gestão de funcionários";
}

<h2> Gestão de funcionários</h2>

<p>
    <a asp-action="Cadastrar">Cadastrar Funcionário</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Ramal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailProfissional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                Opções
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAdmissao)
            </th> *@
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
              @*   <td>
                    @Html.DisplayFor(model => item.Endereco)
                </td> *@
                <td>
                    @Html.DisplayFor(model => item.Ramal)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EmailProfissional)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Ativo)
                </td>
            @*     <td>
                    @Html.DisplayFor(model => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataAdmissao)
                </td> *@
                <td>
                    <a asp-action="Atualizar" asp-route-id="@item.Id">Atualizar</a>
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>